{% extends 'layout.html'%}

{% block body %}
    <div class="jumbotron text-center" style=" height:500px;background-image: url('/static/about.jpg'); background-size:cover;">
            <h1><br><br></h1>
            <h1 style="color:black">ABOUT US</h1>
    </div>
    <div class="jumbotron" style="background-color:white">
        <p> 4ai is a 501(c)(3) nonprofit founded by Ashley Poon and Cathy Hou that aims to dissolve the
        boundaries present in society between the disabled and able-bodied through the employment of people with
        disabilities in the field of artificial intelligence. One billion people, or 15% of the world’s population,
        experience some form of a disability‒a physical or mental impairment. However, even with such an immense
        community of people with disabilities, there is still much discrimination against people with disabilities in
        society today. In order to counteract the employment bias present in the workplace, the high unemployment rate
        of people with disabilities, and the lack of disabled employees in the field of artificial intelligence, 4ai
        will exclusively hire people with disabilities. They will be taught to tag various objects that are then sold
        to companies to be used in AI technology. Through this model, 4ai’s employees will be provided with an unique
        opportunity to gain their own financial and social independence and become involved in the field of AI. 4ai
        also hopes to serve as an example in the corporate world, showing other corporations the benefits of employing
        people with disabilities. </p>
    </div>
    <div class="jumbotron text-center" style="background-color:#c6e6f4">
        <h1><small style="color:black">What's up with our name?</small></h1>
        <br>
        <p style="text-align:left;"> The name "4ai" perfectly encapsulates our mission. Literally speaking, our organization really is for the advancement
            of artificial intelligence, or AI. However, in addition to this, the word "aì" means love in Chinese. 4ai's main goal is to spread love
            and the inclusion of people with disabilities. 4ai: for AI and for love. </p>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <img src="/static/logo.jpg" style="height:200px; width:200px">
            </div>
            <div class="col-sm-8" >
                <br><br>
                <p style="text-align:left"> Our logo consists of two hands making a heart: one hand has five fingers while the other has four, representing
                the union of the disabled and able-bodied through love. </p>
            </div>
        </div>
    </div>

{% endblock %}