{% extends 'layout.html'%}

{% block body %}
    <h1></h1>
    <div class="jumbotron text-center" style="height:400px;padding:10px 10px; background-image: url('/static/flower.jpg'); background-size:cover;" >
        <h1><br></h1>
        <br>
        <br>
        <br>
        <div class="container text-center" style="width:280px;height:80px;padding:10px 0px;background-color:rgba(255,255,255,0.7)">
             <p style="color:black; font-size:48px; font-weight:bold ">Let's Chat!</small></p>
        </div>
    </div>
    <div class="jumbotron text-center" style="background-color: white;">
        <div class="row">
            <div class="col-sm-4">
                <p>Hours<br>TBD</p>
            </div>
            <div class="col-sm-4">
                <p>Corporate Offices<br>TBD</p>

            </div>
            <div class="col-sm-4" >
                <p> Contact Info <br> Email: <a href="info@4ainonprofit.org">info@4ainonprofit.org</a> <br>Phone: (650) 521-7658</p>
            </div>
        </div>
    </div>


{% endblock %}