{% extends 'layout.html'%}

{% block body %}
    <h1></h1>
    <div class="jumbotron text-center" style="height:600px;background-image: url('/static/unique.jpg'); background-size:cover;">
            <h1><br></h1>
            <h1 style="color:black">WHAT MAKES US UNIQUE...</h1>
            <p class="'lead"><br>4ai was created in 2018 in order to support the inclusion of people with disabilities in the field of artificial intelligence.</p>

    </div>
    <div class="jumbotron" style="background-color: white;">
        <div class="row">
            <h1><small>100% of our employees are people with disabilities<br></small></h1>
            <h1></h1>
            <p> Currently, in the United States alone, 82.1% of the billion people with disabilities are unemployed.</p>
            <p> One billion people, or 15% of the world’s population, experience some form of a disability‒a physical
                or mental impairment. However, even with such an immense community of people with disabilities, there
                is still much discrimination against them in society today. Barriers to full social and economic
                inclusion are present everywhere. People tend stare at those with physical disabilities and condescend
                those with mental disabilities. People with disabilities are forced legally to have a cap on how much
                they can earn financially before they are considered not to be disabled. They lack a proper education
                and employment opportunities, and they are discriminated against in the workplace, due to the presence
                of employment bias, or the less favorable treatment of an employee or applicant because of their
                disability. This is seen when an employer does not hire potential employees due to their disability,
                fails to provide reasonable accommodations for the disabled employee, or fosters a toxic workplace
                environment in when the disabled employees are harrassed. This discrimination has been well researched
                and proven true. For example, a study found that disability applications received fewer expressions of
                interest even though the applicant was just as capable. Additional research has proven that equal
                education, which indicates one’s ability, did not translate to equal participation in the workplace,
                as people with disabilities lacked opportunity, not skill. Through reaching out to local organizations
                that work with people with disabilities, such as Abilities United and Ada’s Cafe, 4ai has discovered
                that with lower levels of employment, people with disabilities are often thrust into poverty, unable
                to pay for the sometimes costly medical attention they need due to their disabilities, creating a
                negative feedback loop in society: one that completely ignores the needs and rights of those with
                disabilities. Morally, the unfair treatment of these individuals is simply unjust and actions must
                be taken to work towards solving this immense issue. </p>
            <p> The growing field of artificial intelligence, or AI, is a branch of computer science that deals with the
                simulation of intelligent behaviors in computers, has potential to employ people with disabilities.
                With machine learning, especially computer vision, rapidly developing, there is a demand for labeled
                images. Reaching out to artificial intelligence researchers, 4ai learned that labeling images requires
                human annotators, which opens up an employment opportunity for people with disabilities to be the
                annotators, a task they are completely capable of. Currently, AI is a field that has been proven to
                employ extremely few people with disabilities. This is because when people think about AI, they tend
                to think of tomorrow’s innovators. The word disability, however, has a negative connotation among most
                and infers that one who does have a disability does not possess the intellect or ability needed to work
                in such a field such as AI. However, this is simply not the case. Talent is distributed evenly across
                different groups of people, but opportunities are not.</p>
            <p> Considering these two important factors, we have decided to create a nonprofit, 4ai, through which we can
                give people with disabilities more opportunities to be involved in the field of artificial intelligence,
                while also providing them with social and financial independence. Not only will 4ai provide people with
                disabilities a unique employment opportunity, but it will also help dispel stereotypes and close the gap
                isolating this group while improving computer vision developments. 4ai will be the first organization to
                exclusively hire people with disabilities in the field of AI, helping lower the high unemployment rate of
                people with disabilities, diversifying the field of AI, and serving as a role model for other companies. In
                an environment where most companies do not employ people with disabilities at all, an entire company
                comprised of them is a major step forward in reducing the marginalization of the disabled. 4ai is completely
                conscious of employer bias towards people with disabilities and strives to neutralize them by providing a
                safe working environment.</p>
            <p> <br>All profits go directly to our employees.</p>


        </div>
        <p><br></p>
    </div>


{% endblock %}